/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    // Test data parameters
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data"

    test_data {
        'sarscov2' {
            'illumina' {
                test_1_fastq_gz = "${params.test_data_base}/genomics/sarscov2/illumina/fastq/test_1.fastq.gz"
                test_2_fastq_gz = "${params.test_data_base}/genomics/sarscov2/illumina/fastq/test_2.fastq.gz"
            }
            'nanopore' {
                test_fastq_gz   = "${params.test_data_base}/genomics/sarscov2/nanopore/fastq/test.fastq.gz"
            }
            'genome' {
                genome_fasta    = "${params.test_data_base}/genomics/sarscov2/genome/genome.fasta"
            }
        }
    }

    // Minimal resources for testing
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'
}

process {
    // Use minimal resources for all processes in tests
    cpus   = 1
    memory = 2.GB
    time   = 1.h
}

// Disable container pulling for stub tests
docker.enabled = true
