/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: NANOQ {
        ext.args = [
            "-c ${params.nanoq_compression}",
            "--min-len ${params.nanoq_min_read_length}",
            "--min-qual ${params.nanoq_min_qual}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${meta.id}/read_processing/nanoq" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,fastq.gz}"
        ]
    }

    withName: PORECHOP_ABI {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/read_processing/porechop_abi" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,fastq.gz}"
        ]
    }

    withName: FLYE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/flye" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,fasta,gfa,txt,log,json,fna}"
        ]
    }

    withName: MEDAKA {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/medaka" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,fasta,gfa,txt,log,json},fna"
        ]
    }

    withName: DNAAPLER {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/dnaapler" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,fasta,gfa,txt,log,json},fna"
        ]
    }

}
