/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: FASTPLONG {
        ext.args = [
            "--length_required ${params.fastplong_min_read_length}",
            "--qualified_quality_phred ${params.fastplong_qualified_quality}",
            "--unqualified_percent_limit ${params.fastplong_unqualified_percent_limit}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${meta.id}/read_processing/fastplong" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,json,fastq.gz,log}"
        ]
    }

    withName: FLYE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/flye" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,fasta,gfa,txt,log,json,fna}"
        ]
    }

    withName: MEDAKA {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/medaka" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,fasta,gfa,txt,log,json,fna}"
        ]
    }

    withName: DNAAPLER {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/dnaapler" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,fasta,gfa,txt,log,json,fna}"
        ]
    }

    withName: AUTOCYCLER_GENOME_SIZE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/autocycler/genome_size" },
            mode: params.publish_dir_mode,
            pattern: "*_genome_size.txt"
        ]
    }

    withName: AUTOCYCLER_SUBSAMPLE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/autocycler/subsampled_reads" },
            mode: params.publish_dir_mode,
            pattern: "subsampled_reads/*"
        ]
    }

    withName: AUTOCYCLER_ASSEMBLY {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/autocycler/input_assemblies" },
            mode: params.publish_dir_mode,
            pattern: "*.fasta"
        ]
    }

    withName: AUTOCYCLER_COMPRESS {
        ext.args = [
            "--max_contigs ${params.autocycler_max_contigs}",
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/autocycler" },
            mode: params.publish_dir_mode,
            pattern: "autocycler_out/**"
        ]
    }

    withName: AUTOCYCLER_CLUSTER {
            ext.args = [
            "--max_contigs ${params.autocycler_max_contigs}",
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/autocycler" },
            mode: params.publish_dir_mode,
            pattern: "autocycler_out/**",
            overwrite: true
        ]
    }

    withName: AUTOCYCLER_TRIM_RESOLVE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/autocycler" },
            mode: params.publish_dir_mode,
            pattern: "autocycler_out/**",
            overwrite: true
        ]
    }

    withName: AUTOCYCLER_COMBINE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/autocycler" },
            mode: params.publish_dir_mode,
            pattern: "*.{fasta,gfa}"
        ]
    }

    withName: AUTOCYCLER_GFA2FASTA {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assemblies/autocycler" },
            mode: params.publish_dir_mode,
            pattern: "*.fasta"
        ]
    }

}
